files:
 /opt/elasticbeanstalk/hooks/appdeploy/post/laravel-worker.sh:
  mode: "000755"
  owner: root
  group: root
  content: |
    #!/bin/bash
    easy_install supervisor
 /usr/local/etc/supervisor.conf:
  content: |
    [program:laravel-worker]
    process_name=%(program_name)s_%(process_num)02d
    command=php /var/app/current/local-test/artisan queue:work
    autostart=true
    autorestart=true
    user=forge
    numprocs=8
    redirect_stderr=true
    stdout_logfile=/var/app/current/local-test/storage/logs/worker.log
commands:
  01_enable_supervisor_reread:
    command: supervisorctl reread
  02_enable_supervisor_update:
    command: supervisorctl update
  03_enable_supervisor_start:
    command: supervisorctl start laravel-worker]:*